{% extends 'news/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="card bg-dark text-yellow shadow-lg">
  <div class="card-body">
    <h1 class="card-title">О нас</h1>
    <p class="card-text">
      Этот сайт — учебный проект, сделанный с любовью и на Django ❤️<br>
      Здесь публикуются новости, рецепты, и просто полезное.
    </p>
    <p class="card-text">
      Автор: начинающий веб-разработчик.<br>
      Цель — учиться, пробовать, развиваться 💻
    </p>
  </div>
</div>
{% endblock %}